@charset "UFT-8";

/*000501 - preto
058ED9 - azul
a8dadc - azul mais claro
1d3557 - azul mais escuro
e63946 - vermelho
f1faee - branco
5B9279 - verde passado*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: Roboto;
    background-color: #a8dadc;
    z-index: -3;
}

a {
    color: #058ED9;
}

a:visited {
    color: #058ED9;
}

a:hover {
    color: #1d3557;
}

a:active {
    color: #f1fffe;
}

main{
    background-color: #f1fffe;
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
    z-index: -2;
    position: relative;
    overflow: hidden;
}

main h1 {
    color: #7bf0fd;
    text-transform: uppercase;
    padding-left: 0.5em;
    text-align: center;
    /*text-shadow: -1px -0px 1px #252c3183;*/
    padding: 20px 0px;

}

#acesso {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin: 20px 0;
}

#acesso figure img {
    display: block;
    width: 150px;
    border-radius: 10px;
    margin: 0 auto;
    transition: transform 0.2s ease;
}

#acesso figure img:hover {
    transform: scale(1.05)
}

#acesso figcaption {
    color: #88a1c5;
    font-style: italic;
}

section{
    display: flex;
    height: 2000px;
    padding: 25px 10vw;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    /*gap: 4em;*/
    /*border: 2px dashed black;*/
    z-index: 0;

    
}

section h2{
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    color: #5B9279;
    text-decoration: underline solid #7de0e9 2.5px;
    margin-bottom: 0.5em;
}

section p {
    font-size: 0.85em;
    text-indent: 1em;
    text-align: center;
    color: #1d3557;
    max-width: 600px;
}

section ul {
    font-size: 0.85em;
    color: #1d3557;
    margin-left: 40px;
}

section li {
    margin-bottom: 0.5em;
}

section figure#vasos img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border: 5px solid #7de0e9;
    border-radius: 80px;
    margin: 0px 0;
    box-shadow: 0px 0px 10px 2px #7de0e9;
    transition: transform 0.2s ease, box-shadow 0.1s ease;
}

#vasos img:hover {
    transform: scale(1.05);
    box-shadow: none;
}

figure#i1, figure#i2, figure#i3 {
    position: absolute;
    background-size: 250px;
    background-repeat: no-repeat;
    z-index: -1;
}

figure#i1 {
    background-image: url(imagens/i1-removebg-preview.png);
    width: 437px;
    height: 571px;
    
}

figure#i2 {
    background-image: url(imagens/i2-removebg-preview.png);
    width: 612px;
    height: 408px;
    transform: rotate(90deg);
    top: 30%;
    right: -102px;
}

figure#i3 {
    background-image: url(imagens/i3-removebg-preview.png);
    width: 464px;
    height: 538px;
    bottom: -250px;
    right: -220px;

}

footer {
    background-color: #1a1a1a;
    color: #f1faee;
    width: 60%;
    border-top-right-radius: 20px;
}
